<form class="form" action="/todos/{{id}}" method="post?_method=PUT">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" id="title" name='title' placeholder="enter a new todo" value="{{title}}">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea name="description" id='description' value="{{description}}"></textarea>
	</div>
	<div class="form-group">
	    <label for="priority">Priority</label>
	    <select class="form-control" name="priority" id="priority" value="{{priority}}">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	  </div>
		<button type="submit" class="btn btn-success">update</button>
</form>
